#seekLogoContainer {
    // width: 100px;
    // height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    // left: 29.427%;
    margin: auto;
    // height: 1385px;
    // width: 1385px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seekLogo {
    width: 100%;
    height: 100%;
}



#seekPhoto11 {

}

#seekLayer11 {
    background-image: url(./UploadPhotosToWeb/new/seek/Seek-1-7.png);
    transform: translate3d(-4.4px, 1px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative;
    display: block;
    left: 0;
    top: 0;
}
#seekPhoto13 {

}

#seekLayer13 {
    background-image: url(/UploadPhotosToWeb/new/seek/Seek-1-3.png);
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

#seekPhoto15 {

}

#seekLayer15 {
    background-image: url(/UploadPhotosToWeb/new/seek/Seek-1-5.png);

}

#seekPhoto17 {

}

#seekLayer17 {
    background-image: url(/UploadPhotosToWeb/new/seek/Seek-1-2.png);

}

#seekPhoto19 {

}

#seekLayer19 {
    background-image: url(/UploadPhotosToWeb/new/seek/Seek-1-1.png);

}

#seekPhoto21 {

}

#seekLayer21 {
    background-image: url(/UploadPhotosToWeb/new/seek/Seek-1-4.png);

}

#seekLayer23 {
    background-image: url(/UploadPhotosToWeb/new/seek/Seek-1-6.png);
    transform: translate3d(-16.8px, 2.4px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}

#seekPhoto23 {
}






