@import url("https://fonts.googleapis.com/css?family=Lobster");
@import "../_variables.css";

#textCarouselContainer {
  position: relative;
  width: 100vw;
  height: 50vh;
  /* background-image: url("../components/Room/UploadPhotosToWeb/blog/waves2.jpg"); */
  background-size: cover;
  font-family: 'Lobster';
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-content: center;
}

#textCarouselContainer:before {
  /* background-image: url("../components/Room/UploadPhotosToWeb/blog/waves2.jpg"); */
  opacity: .2;
}

#carousel {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  min-width: 95vw;
  margin: 0 auto 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.textCarouselItem {
  display:flex;
  justify-content: center;
  align-content: center;
  transition: all 150ms ease-in-out;
}


.textCarouselItem > div {
  min-height: 40vh;
  min-width: 15vw;
  max-width: 15vw;
  font-size: 2em;
  text-shadow: .02em .02em .04em var(--grey-dark);
  align-items: center;
  text-align: bottom;
  display:flex;
  justify-content: center;
  align-content: center;
}

.arrow {
    position: absolute;
    width: 3.25em;
    height: 3.25em;
    background-color: none;
    background-color: rgba(248,248,248,.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 1em;
    z-index: 100;
    transition: all 300ms ease;
}

.arrow-right {
  right: 0;
}

.arrow-left {
  left: 0;
}
.arrow-left>i, .arrow-right>i  {
  color: var(--white-pretty);
  font-size: 2em;
  text-shadow: .02em .02em .04em var(--grey-dark);
}

.arrow:hover {
  transform: scale(1.2);
  -webkit-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
  box-shadow: .05em .05em .08em var(--grey-dark);
}

.item {
  border-radius: .8em;
  position: relative;
  text-align: center;
  align-content: center;
  color: var(--white-pretty);
  position: absolute;
  min-width: 15vw;
  min-height: 80%;
  margin: auto 5vw;
  align-self: center;
  -webkit-transition: height 1.2s, width 1.5s, left 1s, margin-top 1s, line-height 1s, color 1.7s;
  transition: height 1.2s, width 1.5s, left 1s, margin-top 1s, line-height 1s, color 1.7s;
}

.item:hover {
  transform: scale(1.01);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  box-shadow: 0 0 .5em var(--grey-very-dark);
}

.level-2 {
  height: 40vh;
  min-width: 15vw;
  max-width: 15vw;
  line-height: 1.5em;
  color: var(--white-pretty);
  background: rgba(210,210,210,.3);
  left: 46.5em;
  margin-top: 1em;
}

.level-1 {
  height: 45vh;
  min-width: 16vw;
  max-width: 16vw;
  line-height: 1.5em;
  color: var(--white-pretty);
  background: rgba(210,210,210,.3);
  left: 35.25em;
}

.level0 {
  height: 48vh;
  min-width: 18vw;
  max-width: 18vw;
  line-height: 1.5em;
  color: var(--white-pretty);
  background: rgba(210,210,210,.3);
  left: 24em;
}

.level1 {
  height: 45vh;
  max-width: 16vw;
  min-width: 16vw;
  line-height: 1.5em;
  color: var(--white-pretty);
  background: rgba(210,210,210,.3);
  left: 12.75em;
}

.level2 {
  height: 40vh;
  min-width: 15vw;
  max-width: 15vw;
  line-height: 1.5em;
  color: var(--white-pretty);
  background: rgba(210,210,210,.3);
  left: 1.5em;
}

.left-enter {
  opacity: 0;
  left: -60px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
}

.left-enter.left-enter-active {
  opacity: 1;
  left: 50px;
  height: 150px;
  width: 110px;
  line-height: 1em;
  margin-top: 25px;
  -webkit-transition: left 1.5s, opacity 1s, height 1.2s, width 1.5s, margin-top 1s, line-height 1s;
  transition: left 1.5s, opacity 1s, height 1.2s, width 1.5s, margin-top 1s, line-height 1s;
}

.left-leave {
  opacity: 1;
  left: 650px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px;
}

.left-leave.left-leave-active {
  left: 780px;
  opacity: 0;
  height: 120px;
  line-height: 120px;
  margin-top: 40px;
  width: 90px;
  -webkit-transition: left 1.5s, opacity 1s, height 1.2s, width 1.5s, margin-top 1s, line-height 1s;
  transition: left 1.5s, opacity 1s, height 1.2s, width 1.5s, margin-top 1s, line-height 1s;
}

.right-enter {
  opacity: 0;
  left: 760px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
}

.right-enter.right-enter-active {
  left: 650px;
  opacity: 1;
  height: 150px;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
  -webkit-transition: left 1.5s, opacity 1s, height 1.2s, width 1.5s, margin-top 1s, line-height 1s;
  transition: left 1.5s, opacity 1s, height 1.2s, width 1.5s, margin-top 1s, line-height 1s;
}

.right-leave {
  left: 50px;
  height: 150px;
  opacity: 1;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
}

.right-leave.right-leave-active {
  left: -60px;
  opacity: 0;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
  -webkit-transition: left 1.5s, opacity 1s, height 1.2s, width 1.5s, margin-top 1s, line-height 1s;
  transition: left 1.5s, opacity 1s, height 1.2s, width 1.5s, margin-top 1s, line-height 1s;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}