// @import "./variables";

/* WALL ONE */
#wallOne {
    /* background-color: rgba(150,50,50,.7); */
    position: absolute;
    top: 19.5vh;
    height: 66vh;
    left: -1.5vw;
    width: 13%;
    overflow: hidden;
}

.projectboard {
    background-image: url("../components/Room/UploadPhotosToWeb/new/IMG_0174_2.PNG");
    // background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    // top: 10.5vh;
    // left: -10%;
    right: 2vw;
    z-index: 1;
    width: 200%;
    // height: 300%;

}

#Ekseed {

}

#Deviant {

}

#minifi {

}

#MBCrunch {

}

#NOSH {

}

#Wayfarer {

}

#femanon {

}