@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@import url("https://www.w3schools.com/w3css/4/w3.css");

:root {
  /* FONTS */
  --base-font: 'Courier New', Courier, monospace;
  --red:#8B0124;
  --blue:#327E8A;
  --yellow: #EDC168;
  --white: rgba(248,248,248,1);
  --white-semi-trans: rgba(248,248,248,1);
}

/* LIGHT MODE */

/* --lightcolor1: ;
    --lightcolor2: ;
    --lightcolor3: ;
    --lightcolor4: ;
    --lightcolor5: ;
    --lightcolor6: ;
    --lightcolor7: ;
    --lightcolor8: ;
    --lightcolor9: ;
    --lightcolor10: ; */
/* DARK MODE */
/* --darkcolor1: ;
    --darkcolor2: ;
    --darkcolor3: ;
    --darkcolor4: ;
    --darkcolor5: ;
    --darkcolor6: ;
    --darkcolor7: ;
    --darkcolor8: ;
    --darkcolor9: ;
    --darkcolor10: ; */

  body {
    /* background-image: url("../components/Room/UploadPhotosToWeb/seek/Seek-1-7.png"); */
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: 'Courier New', Courier, monospace;
    color: var(--blue);
    font-size: 20px;
    top: 0;
    left: 0;
  }

  #seekPhoto11 {
  grid-area: "seek";
  position: absolute;
  z-index:-1;
  
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 7vh;
  width: 100vw;
  z-index:200;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--yellow);
}

header .button {
  background-image: url("../components/Room/UploadPhotosToWeb/badPNGs/lizkane-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 10vw;
  min-width: 6vw;
  max-height: 8vh;
  min-height: 4vh;
}

header .button:hover {
  cursor: pointer;
  color: var(--red);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header nav {
  cursor: pointer;
  z-index:200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration-line: none;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav h3 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5%;
}


/* FLOOR */
#floor {
}

.skill {
  max-width: 20px;
}

main {
}

/* HTML TAGS */
/* div {
/* } */

/* WALL ONE */
#wallOne {
  /* background-color: rgba(150,50,50,.7); */
}
.wrapperFloatBox{
  /* background-color: var(--white-semi-trans); */
  position: fixed;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-template-columns: ;
  grid-template-rows: ;
  grid-template-areas: 
  ""
  ""
  ""
}

.floatBox {
  position: relative;
  min-width: 85vw;
  min-height: 85vh;
  z-index: 99;
  margin: none;
  background-color: var(--white-semi-trans);
  box-shadow: 0px 0px 5px rgba(10,10,10,.4);
    -moz-box-shadow: 0px 0px 5px rgba(10,10,10,.4);
    -webkit-box-shadow: 0px 0px 5px rgba(10,10,10,.4);
    -o-box-shadow: 0px 0px 5px rgba(10,10,10,.4);
  border-radius:25px;
}

.projectBoard {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  max-width: 30vw;
  max-height: 15vh;
  z-index: 9;
  top: 35vh;
  
}

.projectboard > .projectNameLogo {

}

.projectLogoInactive {
  margin: 5% 3%;
}
.visitedProject {
/* box-shadow: indigo; */
}

.activeProject {
}

.droppable {
  border: 1.5px ridge green;
}

.projectNameLogo {
  grid-area: nameLogo;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 5px;
  overflow: hidden;
}

.projectName {
  text-shadow: -2px 2px 0px indianred;
  font-size: 2.5em;
  margin: 0 5%;
}

.projectLogoActive {
  margin: 0 15px;
  width: 30%;
  
}

.projectPhotos {
  max-height: 50%;
  min-height: 50%;
}


.projectDescription{
  grid-area: description;
  position: relative;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px groove gainsboro;
  margin: 5px;
  overflow: scroll;
}
.carousel-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* contain: content; */
  overflow: scroll;
  max-height: 50%;
}

.carousel-image-container {
/* max-height: 50%; */
}

/* Wrap the image and alt text */
  /* Will be added with js */
    .alt-wrap { 
      display: block;
      position: relative;
      margin: 20px;
      color: var(--red)
      /* border: 1px solid mediumorchid; */
    }

  /* The alt text itself */
  /* Will be added with js */
    .alt-wrap p.alt {
      position: absolute;
      opacity: 0; /* hide initially */
      left: 0; right: 0; bottom: 0;
      margin: 0;
      padding: 15px;
      font-size: 1em;
      line-height: 1.1em;
      /* background-color: rgba(0,0,0,0.8); */
      transition: all 300ms ease;
      transition-delay: 300ms;
    }

  /* Hovering over the wrapper shows its alt p*/
    .alt-wrap:hover > p.alt { 
      opacity: 1; 
      transition-delay: 0s;
    }

    
.projectGalleryImage {
  max-width: 95%;
  max-height: 50%;
}

#left-button {
/* margin-top: 50%;/ */
/* min-height: 90px; */
}

.carouselBtn {
  position: relative;
  /* margin-top: 10%; */
  padding: 50% 2%;
  background-color: var(--yellow);
  color: var(--red);
  font-weight: 900;
  /* min-height: 10; */
}
#right-button {
  /* margin-top: 50%; */
  /* position: relative; */
  /* min-height: 90%; */
}

.projectMore {
  grid-area: more;
  border: 2px groove gainsboro;
  margin: 5px;
  overflow: scroll;
}

.projectGallery {
  grid-area: gallery;
  border: 2px groove gainsboro;
  margin: 5px;
  display: flexbox;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  overflow: scroll;
}

.projectPhotos {
  margin: 5px;
}

.githubProject{
  grid-area: GHlink;
}

.githubIFrame {
  grid-area: GHiframe;
  position: absolute;
  width: 100%;
  height: 100%;
}
.githubProject2{
  grid-area: GHlink;
}

.githubIFrame2 {
  grid-area: GHiframe;
  position: absolute;
  width: 100%;
  height: 100%;
}

.projectCode {
  grid-area: github;
  position: relative;
  display: grid;
  margin: 5px 0;
  contain: content;
  overflow: scroll;
}

.responsiveIframeProject {
  grid-template-columns: 1fr .2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "GHlink GHlink2" "GHiframe GHiframe2";
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* padding-bottom: 80%; */
  position: relative;
}



.responsiveIframeProject iframe {

}


.projectContainer {
  display: grid;
  max-width: 80vw;
  max-height: 80vh;
  margin: 5px auto;
  border: 4px solid salmon;
  contain: content;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-areas:
  "nameLogo nameLogo nameLogo nameLogo nameLogo nameLogo nameLogo"
  "description description description description gallery gallery gallery"
  "more more more more github github github ";

}


#Ekseed {

}

#Deviant {

}

#Minifi {

}

#MBCrunch {

}

#Nosh {

}

#Wayfarer {

}

#Femanon {
  max-width: 3vh;
}


/* RESOURCE DATA */
.ResourceListComponent {
  margin-top: 15vh;
}

.wrapperFloatDocBox{
  /* background-color: var(--yellow); */
  position: fixed;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  /* top: 10vh; */
  /* left: 7.5vw; */
  width: 100vw;
  height: 100vh;

  /* box-shadow: 0px 0px 5px rgba(10,10,10,.4);
    -moz-box-shadow: 0px 0px 5px rgba(10,10,10,.4);
    -webkit-box-shadow: 0px 0px 5px rgba(10,10,10,.4);
    -o-box-shadow: 0px 0px 5px rgba(10,10,10,.4);
  border-radius:25px; */
}

.floatDocBox {
  background-color: var(--yellow);
  position: relative;
  min-width: 80vw;
  min-height: 80vh;
  z-index: 99;
  margin: none;
  background-color: var(--white-semi-trans);
  box-shadow: 0px 0px 5px rgba(10,10,10,.4);
  -moz-box-shadow: 0px 0px 5px rgba(10,10,10,.4);
  -webkit-box-shadow: 0px 0px 5px rgba(10,10,10,.4);
  -o-box-shadow: 0px 0px 5px rgba(10,10,10,.4);
  border-radius:25px;
  overflow: scroll;

}

.resourceDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .2fr .2fr .7fr 3.5fr 3.5;
  grid-template-areas: 
  "category iframe iframe iframe"
  "name iframe iframe iframe"
  "logo iframe iframe iframe"
  "description iframe iframe iframe"
  "emblem iframe iframe iframe"
  ;
  contain: content;
  position: absolute;
  max-width: 100%;
  min-height: 100%;
  margin:0 auto;
  border-radius:25px;
  /* left: 55%; */
  /* top: 10%; */
}

.resourceCategory {
  grid-area: category;
  position: relative;
  /* contain: content; */
  align-self: flex-start;
  /* top: 0; */
  margin: -1% 0 0 0;
  text-align: center;
  color: var(--yellow);
  background-color: var(--blue);
  padding: 5% 0;
}

.resourceName {
  grid-area: name;
  position: relative;
  contain: content;
  align-self: center;
  margin-bottom: 0;
  text-align: center;
}

.resourceLogo {
  grid-area: logo;
  position: relative;
  max-width: 100%;
  contain: content;
  margin: 0 auto;
  align-self: center;
}

.resourceEmblem{
  grid-area: emblem;
  position: relative;
  contain: content;
  max-width: 100%;
  margin-top: 0;
  align-self: center;
}

.iframeDescription {
  grid-area: description; 
  /* position: relative;  */
  contain: content;
  align-self: center;
  text-align: center;
}


.responsiveIframe {
  grid-area: iframe;
  width: 100%;
  height: 0;
  /* padding-bottom: 56.25%; */
  padding-bottom: 80%;
  position: relative;
}

.responsiveIframe iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.





/* ———————————————————————————————————————————————————— */
/* IDS */
/* #room {
}

.stillObject { */
/* } */

/*(query)*/
.animate {
}

/* WALL TWO */
#wallTwo {
}

#NAUBA {
}

#artbox {
  z-index: 5;
}

#ipad {
  z-index: 5;
}

#paintset {
  z-index: 5;
}

#cantippedover {
  z-index: 5;
}

/* WALL THREE */
#wallThree {
}

/* WALLFOUR */
#wallFour {
}

#bookcase {
}

/* COUNTER */
#counter {
}

.letter {
  position: relative;
  margin-bottom: 10px;
}

#letter-resume {
  position: absolute;
  z-index: 5;
}

#letter-gaCertificate {
  margin: 50px;
}
/*# sourceMappingURL=style.css.map */







/* OPENING VIEW */
.citeArrival {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  grid-template-areas:"intro seek";
  z-index: 200;
  top:10vh;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.lizKaneIntro {
  grid-area: "intro";
  padding-top: 15vh;
  margin-left: 5vw;
  position: relative;
}

.myName {
  grid-area: "intro";
  color: rgb(64, 75, 109);
}

#portraitDiv {
  grid-area: "intro";
  width: 100%;
  border-radius: 50%;
  contain: fit;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  border:8px groove rgba(10,10,10,.4)
}

#selfPortrait {
  grid-area: "intro";
  display: relative;
  background-color: white;
  max-width: 100%;
}

#seekLogoContainer {
  grid-area: "seek";
  position: relative;
  bottom: -10;
  contain: content;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#seekLogoContainer>img {
}

.seekLogo {
}

#seekLayer11 {
}
#seekPhoto13 {
    grid-area: "seek";
  position: absolute;
  top: 10;
  left: 0;
  z-index: 13;
}

#seekLayer13 {
}

#seekPhoto15 {
    grid-area: "seek";
  position: absolute;
  top: 10;
  left: 0;
  z-index: 15;
}

#seekLayer15 {
}

#seekPhoto17 {
    grid-area: "seek";
  position: absolute;
  top: 10;
  left: 0;
  z-index: 17;
}

#seekLayer17 {
}

#seekPhoto19 {
    grid-area: "seek";
  position: absolute;
  top: 10;
  left: 0;
  z-index: 19;
}

#seekLayer19 {
}

#seekPhoto21 {
    grid-area: "seek";
  position: absolute;
  top: 10;
  left: 0;
  z-index: 21;
}

#seekLayer21 {
}

#seekLayer23 {
}

#seekPhoto23 {
    grid-area: "seek";
  position: absolute;
  top: 10;
  left: 0;
  z-index: 23;
}
