:root {
  --red:#8B0124;
  --blue:#327E8A;
  --yellow: #EDC168;
  --yellowDark: rgba(124,85,32,1);
  --white: rgba(248,248,248,1);
  --white-semi-trans: rgba(248,248,248,1);
  --white-semi-grey: rgba(248,248,248,.8);
  --white-pretty: #fff;
  --greyish: #e8e8e8;
  --greyish-semi-trans: rgba(201,200,201,.5);
  --greyish-solid: #737373;
  --grey-very-dark: rgba(25,25,25,1);
  --grey-very-dark2: rgba(34,34,34,1);
  --grey-dark: rgba(41,41,41,1);
  --grey-dark2: rgba(45,45,45,1);
  --grey-dark-light: rgba(56,56,56,1);
  --grey-dark-light2: rgb(32, 30, 32);
  --grey-dark-light3: rgb(46, 46, 46);
  --grey-dark-light4: rgb(80, 80, 80);
  --mintGreen: #89FAD0;
  --speed: 500ms;
  --nav-size: 7vh;
  --border-radius-circle: 50%;
  --border-radius-curved: 10%;
  --size: 60vmin;
  --space: 8vmin;
  --duration: 450ms;
  --ease-out: cubic-bezier(0.25, 1, 0.5, 1);
  --bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  /* FONTS */
  --base-font: 'Courier New', Courier, monospace;
  --Lobster: 'Lobster';
  --Chic: 'Bodoni Moda', serif;
  /* Acier BAT Text Gris */
  /* font-family */
  /* font-weight */
  /* font-style */
  --AcierBatTextGrisFF: acier-bat-gris, sans-serif;
  --AcierBatTextGrisFS: normal;
  --AcierBatTextGrisFW: 400;
  /* Acier BAT Text Noir */
  /* font-family */
  /* font-weight */
  /* font-style */
  --AcierBatTextNoirFF: acier-bat-noir, sans-serif;
  --AcierBatTextNoirFW: 400;
  --AcierBatTextNoirFS: normal;
  /* Acier BAT Text Outline */
  /* font-family */
  /* font-weight */
  /* font-style */
  --AcierBatTextOutlineFF: acier-bat-outline, sans-serif;
  --AcierBatTextOutlineFW: 600;
  --AcierBatTextOutlineFS: normal;
  /* Acier BAT Text Solid */
  /* font-family */
  /* font-weight */
  /* font-style */
  --AcierBatTextSolidFF: acier-bat-solid, sans-serif;
  --AcierBatTextSolidFW: 400;
  --AcierBatTextSolidFS: normal;
  /* Acier BAT Text Strokes */
  /* font-family */
  /* font-weight */
  /* font-style */
  --AcierBatTextStrokesFF: acier-bat-strokes, sans-serif;
  --AcierBatTextStrokesFW: 600;
  --AcierBatTextStrokesFS: normal;
}

.redText {
  color: var(--red);
}

.blueText {
  color: var(--blue);
}

.yellowText {
  color: var(--yellow);
}

.box-shadow {
  -webkit-box-shadow: 0 0 0.8em #191919;
          box-shadow: 0 0 0.8em #191919;
}

.text-shadow {
  text-shadow: 0px 0px 0.1em #191919;
}

.grey-dark {
  background-color: #292929;
}

.grey-dark-light {
  background-color: #383838;
}

.grey-very-dark2 {
  background-color: #222222;
}

.grey-dark2 {
  background-color: #2d2d2d;
}

.grey-very-dark {
  background-color: #191919;
}

/* --------------------------------------- */
/* ------------ CONTACT PAGE ------------- */
/* ----------- & REF todo.css ------------ */
/* --------------------------------------- */
#contactPage {
  z-index: 17;
  font-family: 'Bodoni Moda', serif;
  margin: 2vh 0 0vh 0;
  min-width: 100vw;
  min-height: 75vh;
  max-height: 100vh;
  z-index: 10;
}

#contactPageWrapper {
  min-height: 80vh;
  max-height: 100vh;
  overflow: hidden;
}

.contactRow {
  width: 100%;
  min-height: 80vh;
  max-height: 80vh;
  margin: 3vh 0 5vh 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr;
      grid-template-areas: "email socialMedia";
}

#cardFormEmail {
  max-height: 80vh;
}

.formRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}

.formRow #formName {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.formRow #formEmail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.formRow #formCompany #formSubject {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.contactRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.card-body > form {
  width: 100%;
}

#emailForm {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: email;
}

#message {
  resize: none;
  overflow: scroll;
}

.cardTitle {
  font-family: var(--Lobster);
  font-size: 3em;
  color: var(--blue);
  margin: -10vh 0 -.5vh 0;
}

hr {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.formGroup > input, .formGroup > select, .formGroup > textarea {
  background-color: var(--white-pretty);
}

input:focus, textarea:focus, select:focus {
  outline: var(--grey-dark);
  border: 2px solid var(--grey-dark);
}

#subjectPlaceholder {
  text-align: center;
}

#socialMedia {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: socialMedia;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
  text-decoration: none;
}

.formLabel {
  color: var(--white-pretty);
  font-size: 1.3em;
}

#submitShow {
  margin-top: 1em;
  font-size: 1.3em;
}

.socItem > a {
  text-decoration: none;
}

.social {
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.social > i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 3em;
  margin: 0 2% 0 5%;
  -ms-flex-item-align: left;
  -ms-grid-row-align: left;
  align-self: left;
  text-align: left;
  color: var(--yellow);
}

.social > p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: .6em;
  -ms-flex-item-align: left;
  -ms-grid-row-align: left;
  align-self: left;
  text-align: left;
  text-decoration: none;
  color: var(--yellow);
}

.social:hover > p {
  color: var(--blue);
}

.social:hover > i {
  color: var(--blue);
}

#socialMedia > div:hover {
  background-color: var(--grey-dark2);
  -webkit-filter: background brightness(2);
  filter: background brightness(2);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  /* -webkit-transition-delay: 900ms;
  transition-delay: 900ms; */
  border-radius: 15px;
}

#linkedIn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#github {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#twitter {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#phone {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

#email {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

#location {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

#footer {
  background-color: var(--grey-dark-light);
  opacity: .8;
  width: 100vw;
  display: flex;
  height: 7vh;
  /* bottom: 0; */
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

footer > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 8vw;
  margin: .4% 1vw;
  height: 70%;
}

footer > a img {
  /* width: ; */
  width: auto;
  height: 100%;
  -webkit-transition: scale 350ms ease-in-out;
  transition: scale 350ms ease-in-out;
}

footer > a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: scale 350ms ease-in-out;
  transition: scale 350ms ease-in-out;
}

#LizKaneFooter {
  margin: 0 2vw;
  /* color: var(--red); */
  color: var(--yellow);
  font-family: var(--AcierBatTextOutlineFF);
  font-weight: var(--AcierBatTextOutlineFW);
  font-style: var(--AcierBatTextOutlineFS);
  font-size: 2.5em;
}
/*# sourceMappingURL=contactPage.css.map */