// +++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++
// Variables
$red:#8B0124;
$blue:#327E8A;
$blue-light:#65cddd;
$yellow: #EDC168;
$yellowDark: rgba(124,85,32,1);
$white: rgba(248,248,248,1);
$white-semi-trans: rgba(248,248,248,1);
$white-semi-grey: rgba(248,248,248,.8);
$white-pretty: #fff;
$greyish: #e8e8e8;
$greyish-semi-trans: rgba(201,200,201,.5);
$greyish-solid: #737373;
// $grey-dark: rgba(13,13,13,1);
$grey-very-dark: rgba(25,25,25,1);
$grey-very-dark2: rgba(34,34,34,1);
$grey-dark: rgba(41,41,41,1);
$grey-dark2: rgba(45,45,45,1);
// $grey-dark-light: rgba(23,23,23,1);
$grey-dark-light: rgba(56,56,56,1);
$grey-dark-light2: rgb(32, 30, 32);
$grey-dark-light3: rgb(46, 46, 46);
$grey-dark-light4: rgb(80, 80, 80);
$mintGreen: #89FAD0;

$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;

$base-font: 'Courier New', Courier, monospace;
$Lobster: 'Lobster';
$Chic: 'Bodoni Moda', serif;

:root {
    --red:#8B0124;
    --blue:#327E8A;
    --yellow: #EDC168;
    --yellowDark: rgba(124,85,32,1);
    --white: rgba(248,248,248,1);
    --white-semi-trans: rgba(248,248,248,1);
    --white-semi-grey: rgba(248,248,248,.8);
    --white-pretty: #fff;
    --greyish: #e8e8e8;
    --greyish-semi-trans: rgba(201,200,201,.5);
    --greyish-solid: #737373;
    // --grey-dark: rgba(13,13,13,1);
    --grey-very-dark: rgba(25,25,25,1);
    --grey-very-dark2: rgba(34,34,34,1);
    --grey-dark: rgba(41,41,41,1);
    --grey-dark2: rgba(45,45,45,1);
    // --grey-dark-light: rgba(23,23,23,1);
    --grey-dark-light: rgba(56,56,56,1);
    --grey-dark-light2: rgb(32, 30, 32);
    --grey-dark-light3: rgb(46, 46, 46);
    --grey-dark-light4: rgb(80, 80, 80);
    --mintGreen: #89FAD0;
    
    --speed: 500ms;
    --nav-size: 7vh;
    --border-radius-circle: 50%;
    --border-radius-curved: 10%;
    --size: 60vmin;
    --space: 8vmin;
    --duration: 450ms;
    --ease-out: cubic-bezier(0.25, 1, 0.5, 1);
    --bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  
    /* FONTS */
    --base-font: 'Courier New', Courier, monospace;
    --Lobster: 'Lobster';
    --Chic: 'Bodoni Moda', serif;
  
    /* Acier BAT Text Gris *//* font-family *//* font-weight *//* font-style */
    --AcierBatTextGrisFF: acier-bat-gris, sans-serif;
    --AcierBatTextGrisFS: normal;
    --AcierBatTextGrisFW: 400;
  
    /* Acier BAT Text Noir *//* font-family *//* font-weight *//* font-style */
    --AcierBatTextNoirFF: acier-bat-noir, sans-serif;
    --AcierBatTextNoirFW: 400;
    --AcierBatTextNoirFS: normal;
    
    /* Acier BAT Text Outline *//* font-family *//* font-weight *//* font-style */
    --AcierBatTextOutlineFF: acier-bat-outline, sans-serif;
    --AcierBatTextOutlineFW: 600;
    --AcierBatTextOutlineFS: normal;
    
    /* Acier BAT Text Solid *//* font-family *//* font-weight *//* font-style */
    --AcierBatTextSolidFF: acier-bat-solid, sans-serif;
    --AcierBatTextSolidFW: 400;
    --AcierBatTextSolidFS: normal;
    
    /* Acier BAT Text Strokes *//* font-family *//* font-weight *//* font-style */
    --AcierBatTextStrokesFF: acier-bat-strokes, sans-serif;
    --AcierBatTextStrokesFW: 600;
    --AcierBatTextStrokesFS: normal;
}


.redText {
color: var(--red);
}

.blueText {
color: var(--blue);
}

.yellowText {
color: var(--yellow);
}
.darkYellowText {
color: var(--yellowDark);
}

.greyedOutText {
    color: var(--grey-dark);
}

// GREY SCALE

.box-shadow {
    box-shadow: 0 0 .8em $grey-very-dark;
}
.text-shadow {
    text-shadow: 0px 0px .1em $grey-very-dark;
}

.grey-dark {
    background-color: $grey-dark
}

.grey-dark-light {
    background-color: $grey-dark-light;
}

.grey-very-dark2 {
    background-color: $grey-very-dark2;
}

.grey-dark2 {
    background-color: $grey-dark2;
}

.grey-very-dark {
    background-color: $grey-very-dark;
}