// @import "../../../styles/_variables";

// .floatBox {
//     @include flexCenter(column);
//     width: 80vw;
//     height: 80vh;
//     background-color: $semiTransparent;
//     z-index: 91;
// }


/* ------------------------ */
/* ----- FLOAT BOX ------ */
/* ------------------------ */
.wrapperFloatBox {
    // background-color: var(--grey-very-dark);
    position: fixed;
    /* position: absolute; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 299;
    /* grid-template-columns: ;
    grid-template-rows: ;
    grid-template-areas: 
    ""
    ""
    "" */
}
    
.floatBox {
    position: relative;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 85vh;
    margin: none;
    // background-color: var(--white-semi-trans);
    // background-color: $white-semi-grey;
    // background-color: rgba($grey-dark2,1);
    background-color: $grey-dark-light;
    // background-color: $white-pretty;
    // background-color: rgba($grey-dark-light,1);
    // box-shadow: 0px 0px 15px $black;
    border-radius: 25px;
    box-shadow: 0px 0px 1em $grey-dark-light4;
    -moz-box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.4);
    -webkit-box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.4);
    -o-box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.4);
    // color: $white-pretty;
    color: $grey-dark-light;
}

// .floatBox>* {
//     font-family: $Chic;
// }
    
    /* #projectBoard {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 30vw;
    max-height: 15vh;
    z-index: 9;
    color: var(--blue);
    }
    
    #projectboard > .projectNameLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    }*/
    
.projectLogoInactive {
    /* margin: 5% 3%; */
    /* max-width: 10%;
    max-height: 10%; */
} 
    
#projectBoard {
    /* display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center; */
}
    
    /* #projectBoard>div {
    flex: 50%;
    position: relative;
    } */

    // position & grid-area & display flex
.projectNameLogo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: nameLogo;
    position: relative;
    display: grid;
    grid-template-columns: .1fr .5fr 1fr 1fr .1fr;
    grid-template-rows: .5fr .5fr;
    grid-template-areas: ". logo projectName github1 ." ". logo projectName github2 .";
    font-family: $Chic;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    // background-color: rgba($greyish-solid,.6);
    // background-color: rgba($grey-dark-light2,.6);
    // background-color: rgba(var(--grey-very-dark2),1);
    background-color: rgba($grey-dark2,1);
    // background-color: var(--white-semi-trans);
    // background-color: $blue;
    // background-color: $yellow;
    place-items: center;
    
}
   
.projectLogoActive {
    grid-area: logo;
    min-height: 100%;
    max-height: 100%;
    font-family: $Chic;
}

.projectName {
    grid-area: projectName;
    // text-shadow: 0px 0px 8px rgba($grey-dark-light,.5);
    font-size: 4.5em;
    // color: $grey-dark-light;
    color: $white-pretty;
    text-align: center;
    font-family: $Chic;
    padding: 0 0;
}

.githubProject {
    grid-area: github1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    font-family: $Chic; 
    font-size: .5em;
    text-align: right !important;
    align-self: flex-end;
    // color: $grey-dark-light;
    color: $white-pretty;
}
    
.githubProject2 {
    grid-area: github2;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    font-size: .5em;
    text-align: right !important;
    font-family: $Chic;
    // color: $grey-dark-light;
    color: $white-pretty;
}

.projectPhotos {
    max-height: 50%;
    min-height: 50%;
    font-family: $Chic;
    color: $white-pretty;
}
    
.projectDescription {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: description;
    position: relative;
    font-size: 1.5em;
    font-family: var(--base-font);
    /* border: 2px groove gainsboro; */
    margin: 1em;
    border-radius: 30px;
    padding: 1.5em;
    overflow: scroll;
    // background-color: rgba($grey-dark,.5);
    // background-color: var(--white-semi-trans);
    // background-color: $white-pretty;
    // background-color: rgba($white-semi-trans,.8);
    background-color: $grey-dark-light;
    font-family: $Chic;
    color: $white-pretty;
    transition: all 0.3s ease-in-out;
}

.projectDescription:hover {
    background-color: $grey-dark2;
    transition: all 0.3s ease-in-out;
}
.carousel-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: hidden;
    position: relative;
    max-height: 100%;
    // margin: .5em;
    border-radius: 30px;
    padding: 2em;
    place-content: center;
}
    
.carousel-return {
    overflow: scroll;
}
    
.carousel-image-container {
    overflow: scroll;
}
    
    /* Wrap the image and alt text */
    /* Will be added with js */
.alt-wrap {
    display: block;
    position: relative;
    margin: 1em;
    color: $white-pretty;
    font-family: $Chic;
}
    
    /* The alt text itself */
    /* Will be added with js */
.alt-wrap p.alt {
    position: absolute;
    opacity: 0;
    /* hide initially */
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 1em;
    font-size: 1em;
    line-height: 1em;
    font-family: $Chic;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transition-delay: 300ms;
            transition-delay: 300ms;
}
    
    /* Hovering over the wrapper shows its alt p*/
.alt-wrap:hover > p.alt {
    opacity: 1;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}
    
.projectGalleryImage {
    max-width: 95%;
    max-height: 50%;
    margin: 1em;
    border-radius: 30px;
    padding: 1em;
    font-family: $Chic;
}
    
#left-button {
    position: absolute;
    margin: 25% 0 0 2.5%;
    width: 2em;
    height: 2em;
    border: none;

}
#left-button>i {
    font-size: 1em;
    // color: $grey-dark-light4;
    color: $yellow;
    
}
#right-button>i {
    font-size: 1em;
    // color: $grey-dark-light;
    color: $yellow;
}

#right-button {
    position: absolute;
    width: 2em;
    height: 2em;
    margin: 25% 0;
    margin: 25% 2.5% 0 0;
    border: none;
}
.carouselBtn {
    position: relative;
    /* margin-top: 10%; */
    /* padding: 50% 2%; */
    padding: 0% auto;
    background-color: var(--red);
    color: var(--yellow);
    font-weight: 900;
    min-height: 50%;
    max-height: 50%;
}
        
.projectMore {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: more;
    margin: 1em;
    border-radius: 30px;
    overflow: scroll;
    // background-color: rgba($grey-dark,.5);
    // background-color: var(--white-semi-trans);
    // background-color: $white-pretty;
    // background-color: rgba($white-semi-trans,.8);
    background-color: $grey-dark-light;
    color: $white-pretty;
    font-family: $Chic;
    transition: all 0.3s ease-in-out;
}

.projectMore:hover {
    background-color: $grey-dark2;
    transition: all 0.3s ease-in-out;
}

.projectGallery {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-area: gallery;
    margin: 1em;
    border-radius: 30px;
    display: fixed;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    overflow: hidden;
    // background-color: rgba($grey-dark,.5);
    // background-color: var(--white-semi-trans);
    // background-color: $white-pretty;
    // background-color: rgba($white-semi-trans,.8);
    background-color: $grey-dark-light;
    font-family: $Chic;
    transition: all 0.3s ease-in-out;
}

.projectGallery:hover {
    background-color: $grey-dark2;
    transition: all 0.3s ease-in-out;
}

.projectPhotos {
    margin: 5px;
    max-height: 100%;
    font-family: $Chic;
}

.githubIFrame {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: GHiframe;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: $Chic;
}
    
.githubIFrame2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: GHiframe2;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: $Chic;
}
    
.projectCode {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-area: github;
    position: relative;
    display: -ms-grid;
    display: grid;
    contain: content;
    overflow: scroll;
    // background-color: rgba($grey-dark,.5);
    // background-color: var(--white-semi-trans);
    // background-color: $white-pretty;
    // background-color: rgba($white-semi-trans,.8);
    background-color: $grey-dark-light;
    margin: 1em;
    padding: 1em;
    font-family: $Chic;
    transition: all 0.3s ease-in-out;
}
    
.projectCode:hover {
    background-color: $grey-dark2;
    transition: all 0.3s ease-in-out;
}

.responsiveIframeProject {
    -ms-grid-columns: 1fr .2fr;
    grid-template-columns: 1fr .2fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "GHlink GHlink2" "GHiframe GHiframe2";
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    // background-color: rgba($grey-dark,.5);
    // background-color: var(--white-semi-trans);
    // background-color: $white-pretty;
    // background-color: rgba($white-semi-trans,.8);
    background-color: $grey-dark-light;
    font-family: $Chic;
    transition: all 0.3s ease-in-out;
}

.responsiveIframeProject:hover {
    background-color: $grey-dark2;
    transition: all 0.3s ease-in-out;
}

.projectContainer {
    display: -ms-grid;
    display: grid;
    max-width: 80vw;
    max-height: 80vh;
    margin: 0 auto;
    contain: content;
    font-family: $Chic;
    border-radius: 25px;
    -ms-grid-columns: (1fr)7;
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: 1fr 4fr 4fr;
        grid-template-rows: 1fr 4fr 4fr;
        grid-template-areas: "nameLogo nameLogo nameLogo nameLogo nameLogo nameLogo nameLogo" "description description description description gallery gallery gallery" "more more more more gallery gallery gallery ";
}
