@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
:root {
  --red:#8B0124;
  --blue:#327E8A;
  --yellow: #EDC168;
  --yellowDark: rgba(124,85,32,1);
  --white: rgba(248,248,248,1);
  --white-semi-trans: rgba(248,248,248,1);
  --white-semi-grey: rgba(248,248,248,.8);
  --white-pretty: #fff;
  --greyish: #e8e8e8;
  --grey-dark: rgba(13,13,13,1);
  --grey-dark-light: rgba(23,23,23,1);
  --grey-dark-light2: rgb(32, 30, 32);
  --grey-dark-light3: rgb(46, 46, 46);
  --mintGreen: #89FAD0;
  --speed: 500ms;
  --nav-size: 7vh;
  --border-radius-circle: 50%;
  --border-radius-curved: 10%;
  --size: 60vmin;
  --space: 8vmin;
  --duration: 300ms;
  --ease-out: cubic-bezier(0.25, 1, 0.5, 1);
  --bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#projectBoardParent {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-image: -webkit-gradient(linear, left top, right top, from(#034378), to(#2d4e68));
  background-image: linear-gradient(to right, #034378, #2d4e68);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 50vw;
  max-height: 65vh;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.projectCard {
  float: left;
  padding: 0 1.7rem;
  width: 15em;
  height: 15em;
  background-color: var(--yellow);
}

.projectCard .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.projectCard .menu-content::before, .projectCard .menu-content::after {
  content: '';
  display: table;
}

.projectCard .menu-content::after {
  clear: both;
}

.projectCard .menu-content li {
  display: inline-block;
}

.projectCard .menu-content a {
  color: #fff;
}

.projectCard .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.projectCard .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.projectCard .wrapper:hover .data {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projectCard .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.projectCard .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.projectCard .author {
  font-size: 12px;
}

.projectCard .title {
  margin-top: 10px;
}

.projectCard .text {
  height: 70px;
  margin: 0;
}

.projectCard input[type='checkbox'] {
  display: none;
}

.projectCard input[type='checkbox']:checked + .menu-content {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.projectCard .wrapper {
  width: 25%;
  height: 35%;
}

.projectCard .wrapper:hover .menu-content span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}

.projectCard .header {
  color: #fff;
  padding: 1em;
}

.projectCard .header::before, .projectCard .header::after {
  content: '';
  display: table;
}

.projectCard .header::after {
  clear: both;
}

.projectCard .header .date {
  float: left;
  font-size: 12px;
}

.projectCard .menuContent {
  float: right;
}

.projectCard .menuContent li {
  margin: 0 5px;
  position: relative;
}

.projectCard .menuContent span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.projectCard .data {
  color: #fff;
  -webkit-transform: translateY(calc(70px + 4em));
          transform: translateY(calc(70px + 4em));
}

.projectCard .title a {
  color: #fff;
}

.projectCard .projectCardText {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  max-height: 30%;
}

.projectCard .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}

.projectCard .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.projectCard .button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}
/*# sourceMappingURL=project.css.map */