// +++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++
// Variables
$red:#8B0124;
$blue:#327E8A;
$yellow: #EDC168;
$yellowDark: rgba(124,85,32,1);
$white: rgba(248,248,248,1);
$white-semi-trans: rgba(248,248,248,1);
$white-semi-grey: rgba(248,248,248,.8);
$white-pretty: #fff;
$greyish: #e8e8e8;
$grey-dark: rgba(13,13,13,1);
$grey-dark-light: rgba(23,23,23,1);
$grey-dark-light2: rgb(32, 30, 32);
$grey-dark-light3: rgb(46, 46, 46);
$grey-dark-light4: rgb(80, 80, 80);
$mintGreen: #89FAD0;

$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;

$base-font: 'Courier New', Courier, monospace;
$Lobster: 'Lobster';


* {
    box-sizing: border-box;
  }

/* ------------------------ */
/* ----- PROJECT PAGE ------ */
/* ------- ref classes = .thematicImg .responsive-img --------- */
/* --------- ref ProjectList --------------- */
#projectsPage {
    margin-top: 5vh;
    position: relative;
    /* z-index: 16; */
    display: flex;
    
    place-content: center;
    max-height: 95vh;
    /* overflow: hidden; */
    overflow: show;
}

#projectsPage>* {
    font-family: $base-font;
}

.row {
    width: 100%;
    height: 100%;
    // display: flex;
    // flex-direction: row;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "work projects", ". projects";
}

#teamWorkGridParent {
    grid-area: work;
}

#teamWorkGrid {
background-image: url("../Room/UploadPhotosToWeb/docs/teamWork.png");
margin: 0 0 0 0;
background-position: baseline;
background-repeat: repeat;
background-size: cover;
display: grid;

min-height: 60vh;
max-height: 80vh;
min-width: 70vw;
/* min-height: 60vh; */
/* max-height: 80vh; */
/* min-width: 70vw; */

/* grid-template-columns: ;
grid-template-rows: ;
grid-template-areas: ; */
}


/*Change icons circle size and color here*/
.social-icons .fa {
    font-size: 2.5em;
    padding: .25em;
    margin: 0 0;
    width: 3em;
    height: 3em;
    line-height: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* ---- SOCIAL ICONS FOR SKILLS DISPLAY ---- */
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

/*Change icons size here*/
.social-icons .fa {
    font-size: 2.8em;
}
.social-icons>li{
display: none;
}

/*Change icons circle size and color here*/
.social-icons .fa {
    width: 4em;
    height: 4em;
    line-height: 4em;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    outline: var(--red);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.social-icons.icon-rounded .fa{
    border-radius:5px;
}


.social-icons .fa:hover, .social-icons .fa:active {
    color: #FFF;
    -webkit-box-shadow: .05em .05em .1em #333;
    -moz-box-shadow: .05em .05em .1em #333;
    box-shadow: .05em .05em .1em #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
    -webkit-transform: scale(1.2) rotate(120deg);
    -moz-transform: scale(1.2) rotate(120deg);
    -ms-transform: scale(1.2) rotate(120deg);
    -o-transform: scale(1.2) rotate(120deg);
    transform: scale(1.2) rotate(120deg);
}

// =================================================
// ============== BEING PROJECT BOARD ==============
// =================================================
#projectBoard {
    grid-area: projects;
    // background-size: cover;
    // background-repeat: no-repeat;
    // position: relative;
    margin: 0 0;

    // min-height: 60%;
    // min-width: 100%;
    // max-height: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    // font-size: 30px;
    text-align: center;
}

@media (max-width: 800px) {
.flex-container {
    flex-direction: column;
}
}

#projectboard > .projectNameLogo {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-line-pack: center;
    align-content: center;
width: 100%;
margin: 0 5%;
z-index: 0;
}

.logoContainer>img{
    width: 100%;
}
// #PraestoInactiveImg, #EkseedInactiveImg, #MinifiInactiveImg, #TrycycleInactiveImg, #DeviantInactiveImg, #WayfarerInactiveImg {
/* margin: 5% 3%; */
// background-color: var(--grey-dark);
// }

.visitedProject {
/* box-shadow: indigo; */
}

.droppable {
/* border: 1.5px ridge green; */
}

.projectName {
text-shadow: -2px 2px 0px indianred;
font-size: 2.5em;
margin: 0 5%;
}

// +++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++

// clear-fix mixin
@mixin cf {
    &::before,
    &::after {
      content: '';
      display: table;
    }
    &::after {
      clear: both;
    }
  }
  
li.group{
    a {
        text-decoration: none;
    }
}

// h6 {
//   font-family: $open-sans;
//   font-weight: 300;
//   font-size: .45em;
// }

// .row {
//   max-width: 900px;
//   margin: 50px auto 0;
// }


// ++++++++++++++++++++++++++++++++++++++
// PROJECT INACTIVE CARDS BASE STYLES
// ++++++++++++++++++++++++++++++++++++++
.card {
  flex: 30%;
  float: left;
  padding: 0 0rem;
  width: 100%;
  flex-direction: row wrap;
  .menuContent {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    // display: inline-block;
    display: block;
    li {
      display: inline-block;
      background-color: rgba(0,0,0,0);

    }
    li.group{
        .groupIcons{
            color: $white;
            margin: 0 5%;
        }
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: .5em;
      font-weight: 300;
      font-family: $base-font;
      transform: translate(0%, -90%);
    }
  }
  .wrapper {
    background-color: $white;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .hiddenContent {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .devName {
    font-size: 1.3em;
    text-align: left;
    align-self: start;
  }
  .projectCardTitle {
    margin-top: 1em;
        a{
            font-size: 2em;
            font-family: $base-font;
            font-weight: 300;
        }
  }
  .text {
    height: 70px;
    margin: 0;
    font-size: .5em;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menuContent {
    transform: translateY(-60px);
  }
}

// +++++++++++++++++++++++++++++++++++++++++++++++
// PROJECT INACTIVE CARDS PSEUDO-CLASS STYLES
// +++++++++++++++++++++++++++++++++++++++++++++++
.projectCard {
    .wrapper {
    //   background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg) center / cover no-repeat;
    //   background: url("../Room/UploadPhotosToWeb/blog/blueproject.jpg") center / cover no-repeat;
      background: url("../Room/UploadPhotosToWeb/blog/redProject.jpg") center / cover no-repeat;
    //   background: url("../Room/UploadPhotosToWeb/blog/yellowProject.jpg") center / cover no-repeat;
      &:hover {
        .menuContent {
          span {
            transform: translate(0%, -90%);
            opacity: 1;
            font-size: .5em;
          }
        }
      }
    }
    .projectHeader {
      @include cf;
      color: $white;
      padding: 1em;
      .leftTop {
        float: left;
        font-size: 12px;
      }
    }
    .menuContent {
      float: right;
      li {
        margin: 0 5px;
        position: relative;
      }
      span {
        transition: all 0.3s;
        opacity: 0;
      }
    }
    .data {
      color: $white;
      transform: translateY(calc(70px + 4em));
    }
    .projectCardTitle {
      a {
        color: $white;
      }
    }
    .projectButton {
      display: block;
      width: 100px;
      margin: 2em auto 1em;
      text-align: center;
      font-size: 12px;
      color: $white;
      line-height: 1;
      position: relative;
      font-weight: 700;
      &::after {
        content: '\2192';
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 0.3s;
      }
      &:hover {
        &::after {
          transform: translate(5px, -50%);
          opacity: 1;
        }
      }
    }
  }

/* ------------------------ */
/* ----- FLOAT BOX ------ */
/* ------------------------ */
.wrapperFloatBox {
    /* background-color: var(--white-semi-trans); */
    position: fixed;
    /* position: absolute; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 299;
    /* grid-template-columns: ;
    grid-template-rows: ;
    grid-template-areas: 
    ""
    ""
    "" */
}
    
.floatBox {
    position: relative;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 85vh;
    margin: none;
    // background-color: var(--white-semi-trans);
    background-color: $grey-dark-light4;
    box-shadow: 0px 0px 15px $black;
    -moz-box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.4);
    -webkit-box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.4);
    -o-box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.4);
    border-radius: 25px;
    color: var(--blue);
}
    
    /* #projectBoard {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 30vw;
    max-height: 15vh;
    z-index: 9;
    color: var(--blue);
    }
    
    #projectboard > .projectNameLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    }*/
    
.projectLogoInactive {
    /* margin: 5% 3%; */
    /* max-width: 10%;
    max-height: 10%; */
} 
    
#projectBoard {
    /* display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center; */
}
    
    /* #projectBoard>div {
    flex: 50%;
    position: relative;
    } */
    
#projectBoard>div * {
    
}
    /* .visitedProject {
    box-shadow: indigo;
    }
    
    .droppable {
    border: 1.5px ridge green;
    } */
    
.projectNameLogo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: nameLogo;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 5px;
    overflow: hidden;
}
    
.projectName {
    text-shadow: -2px 2px 0px $grey-dark-light;
    color: $white-pretty;
    font-size: 2.5em;
    margin: 0 5%;
}
    
    .projectLogoActive {
    margin: 0 15px;
    /* width: 100%; */
    max-height: 100%;
}
    
.projectPhotos {
    max-height: 50%;
    min-height: 50%;
}
    
.projectDescription {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: description;
    position: relative;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px groove gainsboro; */
    margin: 5px;
    overflow: scroll;
}
    
.carousel-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    /* contain: content; */
    overflow: hidden;
    position: relative;
    max-height: 100%;
}
    
.carousel-return {
    overflow: scroll;
}
    
.carousel-image-container {
    /* max-height: 50%; */
    overflow: scroll;
}
    
    /* Wrap the image and alt text */
    /* Will be added with js */
.alt-wrap {
    display: block;
    position: relative;
    margin: 20px;
    color: var(--red);
}
    
    /* The alt text itself */
    /* Will be added with js */
.alt-wrap p.alt {
    position: absolute;
    opacity: 0;
    /* hide initially */
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 15px;
    font-size: .8em;
    line-height: 1em;
    /* background-color: rgba(0,0,0,0.8); */
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transition-delay: 300ms;
            transition-delay: 300ms;
}
    
    /* Hovering over the wrapper shows its alt p*/
.alt-wrap:hover > p.alt {
    opacity: 1;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}
    
.projectGalleryImage {
    max-width: 95%;
    max-height: 50%;
}
    
#left-button {
    /* margin-top: 50%;/ */
    /* min-height: 90px; */
}
    
.carouselBtn {
    position: relative;
    /* margin-top: 10%; */
    /* padding: 50% 2%; */
    padding: 0% auto;
    background-color: var(--red);
    color: var(--yellow);
    font-weight: 900;
    min-height: 50%;
    max-height: 50%;
}
        
.projectMore {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: more;
    margin: 5px;
    overflow: scroll;
}
    
.projectGallery {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-area: gallery;
    margin: 5px;
    display: fixed;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    overflow: hidden;
}
    
.projectPhotos {
    margin: 5px;
    max-height: 100%;
}
    
.githubProject {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: GHlink;
}

    
.githubIFrame {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: GHiframe;
    position: absolute;
    width: 100%;
    height: 100%;
}
    
.githubProject2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: GHlink2;
}
    
.githubIFrame2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: GHiframe2;
    position: absolute;
    width: 100%;
    height: 100%;
}
    
.projectCode {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-area: github;
    position: relative;
    display: -ms-grid;
    display: grid;
    margin: 5px 0;
    contain: content;
    overflow: scroll;
}
    
.responsiveIframeProject {
    -ms-grid-columns: 1fr .2fr;
        grid-template-columns: 1fr .2fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "GHlink GHlink2" "GHiframe GHiframe2";
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
    
.projectContainer {
    display: -ms-grid;
    display: grid;
    max-width: 80vw;
    max-height: 80vh;
    margin: 5px auto;
    contain: content;
    -ms-grid-columns: (1fr)7;
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: 1fr 4fr 4fr;
        grid-template-rows: 1fr 4fr 4fr;
        grid-template-areas: "nameLogo nameLogo nameLogo nameLogo nameLogo nameLogo nameLogo" "description description description description gallery gallery gallery" "more more more more github github github ";
}
